<%= form_with(model: site, local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :origin_url %>
    <%= form.text_field :origin_url, id: :site_origin_url %>
  </div>

  <div class="field">
    <%= form.label :short_path %>
    <%= form.text_field :short_path, id: :site_short_path %>
    <%= form.button t('generate'), id: :genShortPathBtn, type: 'button' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
